 body {
     background-image: url('../assets/images/background.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100%
 }

 .fs-7 {
     font-size: 1rem;
 }


 @media (min-width: 1200px) {
     .display-7 {
         font-size: 1rem;
     }
 }
