  body{

  background-image: url(../img/background2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat; 
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
margin:0px;
}

.form {
  background-color: #fff;
  box-shadow: -20px 20px 35px 1px rgba(10, 49, 86, 0.18);
  
flex-direction: column;
  padding: 20px;
  margin-top: 50px;
  max-width: 400px;
  width: 100%;
}
.input{
  padding: 10px 40px
}
.submit{
  padding: 10px 20px;
  text-decoration: none;
  background-color: green;
  color: white;
  border-radius: 14px
}
.formlogin{
  padding: 10px 0px
}